<h1>Successful transaction!</h1>

<%= debug = @session %>
,<strong>payment intent</strong>
<%= debug = @payment_intent %>

<% payment_id = @payment_intent.id %>

<% customer = Customer.find(current_customer.id)%>%
<% province_tax = Province.find_by(id: customer.province_id)%>
<%= tax_cost = @session.line_items.data[1]["amount_total"] + @session.line_items.data[2]["amount_total"] %>

<% order = Order.create(
  payment_id:  @payment_intent.id,
  cosmetic_id: session[:cosmetic_id],
  customer_id: customer.id,
  province_id: province_tax.id,
  cosmetic_cost: @session.line_items.data[0]["amount_total"],
  tax_cost:    tax_cost,
  total_cost:  @payment_intent.amount_received,
  order_status: "paid")
%>

<strong>payment id</strong>
<%= @payment_intent.id %>
<br/>

<strong>cosmetic id</strong>
  <%= session[:cosmetic_id]%>
<br/>

  <strong>customer id</strong>
  <%= customer.id %>
<br/>

<strong>province id</strong>
  <%= province_tax.id%>
<br/>

<strong>price</strong>
<%= @session.line_items.data[0]["amount_total"] %>
<br/>

<strong>PST TAX</strong>
<%= @session.line_items.data[1]["amount_total"] %>
<br/>

<Strong>GST </Strong>
<%= @session.line_items.data[2]["amount_total"] %>
<br/>

<strong>COMBINED</strong>
<%= tax_cost %>
<br/>

<strong>TOTAL COST  </strong>
<%= @payment_intent.amount_received %>


