<h1 class="title is-1">Fortnite Cosmetics!</h1>

<ul>
<li><%= link_to "See all categories", "category#index" %></li>
</ul>

<%= search_form_for @q do |f| %>

  <%= f.search_field :name_cont %>

<%= f.collection_select :category_id_eq, Category.all, :id, :name, include_blank: true %>
  <%= f.submit %>
<% end %>

<div class= "columns is-multiline">
<%= render partial: 'cosmetic', collection: @cosmetics %>
</div>
